.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 18px 0 39px;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 15;
    width: 390px;
    box-sizing: border-box;
    height: 100vh;
    align-items: flex-end;
    @media (max-width:500px) {
      width: 100vw;
    }
    &_image{
     width: 15px;
     margin-left: 11px; 
     padding-right: 27px;
    }

    
}