.custom_select{
    border: none!important;
    input{
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.08px;
        text-align: center;
        color: #373737;
        font-family: Montserrat;
    }
}