.list_container{
    width: -webkit-fill-available;
    padding-inline-start: 0;
    height: 100vh;
    .sublist_container{
    display:block;
    padding: 0 53px;
    }
    .links{
        height: 24px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.1px;
        text-align: right;
        color: #000000;
        text-decoration: none;
        display: block;
        &:hover{
            color: #eb0a1e;
        }
    }
    hr{
        margin: 16px 20px 0;
    }
}